.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entry-meta {
  font-size: 1rem;
}

.entry-meta-date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
