.entry {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.entry-item {
  border-radius: 0.5rem;
  background-color: #cbd5e1;
}

@media (prefers-color-scheme: dark) {
  .entry-item {
    background-color: #1e293b;
  }
}

.entry-item-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.entry-item-meta {
  font-size: 0.8rem;
}
