body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 18px;
  text-align: left;
  color: #1e293b;
  overflow-wrap: break-word;
  background-color: #fff;
}

h1 {
  padding: 0.75rem 0;
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 2.5rem;
}

h2 {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1.25rem;
}

h3 {
  padding: 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  padding: 0.5rem 0;
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  padding: 0.25rem;
  font-size: 1rem;
}

.has-anchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  scroll-margin-top: 56px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #cbd5e1;
    background-color: #0f172a;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}
